{
    "performer_id": "ucla",
    "ees": {
        "remote": {
            "host": "localhost",
            "port": "8000",
            "dataroot": "/"
        },
        "local": {
            "host": "128.97.55.80",
            "port": "8000",
            "dataroot": "http://128.97.55.80/MSEE/phase2_training/"
        }
    },
    "settings": {
        "enable_remote_log": "false"
    },
    "directories": {
        "data": "data/",
        "log": "log/",
        "model": "model/",
        "results": "results/"
    },
    "services": {
        "evaluation": {
            "host": "localhost",
            "port": "30000",
            "type": "evaluation.EvaluationControllerService"
        },
        "logging": {
            "host": "localhost",
            "port": "30001",
            "type": "log.LogService"
        },
        "query": {
            "host": "localhost",
            "port": "30002",
            "type": "QueryService"
        },
        "object_detection": {
            "host": "localhost",
            "port": "30003",
            "type": "ObjectDetectionService"
        },
        "human_parsing": {
            "host": "localhost",
            "port": "30004",
            "type": "HumanParsingService"
        },
        "vehicle_parsing": {
            "host": "localhost",
            "port": "30005",
            "type": "VehicleParsingService"
        },
        "tracking": {
            "host": "localhost",
            "port": "30006",
            "type": "TrackingService"
        },
        "action_detection": {
            "host": "localhost",
            "port": "30007",
            "type": "ActionDetectionService"
        },
        "human_attributes": {
            "host": "localhost",
            "port": "30008",
            "type": "HumanAttributesService"
        },
        "behavior_parsing": {
            "host": "localhost",
            "port": "30010",
            "type": "BehaviorParsingService"
        },
        "scene_parsing": {
            "host": "localhost",
            "port": "30011",
            "type": "SceneParsingService"
        },
        "testing": {
            "host": "localhost",
            "port": "30012",
            "type": "testing.TestingService"
        },
        "color": {
            "host": "localhost",
            "port": "30013",
            "type": "ColorService"
        },
        "multiview": {
            "host": "localhost",
            "port": "30014",
            "type": "SceneTrajectoryService"
        },
        "online": {
            "host": "localhost",
            "port": "30020",
            "type": "online.OnlineComputingService"
        },
        "multiview_attributes": {
            "host": "localhost",
            "port": "30015",
            "type": "MultiviewParsingService"
        },
        "multiview_behavior": {
            "host": "localhost",
            "port": "30016",
            "type": "MultiviewParsingService"
        },
        "multiview_action": {
            "host": "localhost",
            "port": "30017",
            "type": "MultiviewParsingService"
        }
    }
}
