{
    "directories": {
        "dashboard_data": "/mirrordata/Data/",
        "dashboard_results": "/mirrordata/Data/results",
        "dashboard_data_url": "http://128.97.86.189:8002",
        "log": "/mirrordata/Data/log"
    },
    "services": {
        "headnode": {
            "host": "128.97.86.86",
            "port": "5000"
        },
        "evaluation": {
            "host": "128.97.86.189",
            "port": "30000"
        },
        "logging": {
            "host": "128.97.86.95",
            "port": "30001"
        },
        "query": {
            "host": "128.97.86.180",
            "port": "30002"
        },
        "object_detection": {
            "host": "128.97.86.86",
            "port": "30003"
        },
        "human_parsing": {
            "host": "128.97.86.96",
            "port": "30004"
        },
        "vehicle_parsing": {
            "host": "128.97.86.86",
            "port": "30005"
        },
        "tracking": {
            "host": "128.97.86.96",
            "port": "30006"
        },
        "action_detection": {
            "host": "128.97.86.96",
            "port": "30007"
        },
        "human_attributes": {
            "host": "128.97.86.96",
            "port": "30008"
        },
        "behavior_parsing": {
            "host": "128.97.86.95",
            "port": "30010"
        },
        "scene_parsing": {
            "host": "128.97.86.95",
            "port": "30011"
        },
        "testing": {
            "host": "localhost",
            "port": 30012
        },
        "color": {
            "host": "128.97.86.96",
            "port": "30013"
        },
        "multiview": {
            "host": "128.97.86.95",
            "port": "30014"
        },
        "online": {
            "host": "128.97.86.189",
            "port": "30020"
        },
        "multiview_attributes": {
            "host": "128.97.86.95",
            "port": "30015"
        },
        "multiview_behavior": {
            "host": "128.97.86.95",
            "port": "30016"
        },
        "multiview_action": {
            "host": "128.97.86.95",
            "port": "30017"
        },
        "multiview_container": {
            "host": "128.97.86.95",
            "port": "30018"
        }
    },
    "datasets": {
        "Phase-3 Training" : {
            "soc-PrattGarden-2014-09-20-Training": {
                "display_name" : "Pratt Garden"
            },
            "soc-Schiciano-2014-02-22-Training": {
                "display_name" : "Schiciano Auditorium"
            },
            "soc-SIGParkingLot-2014-01-04-Training": {
                "display_name" : "SIG Parking Lot - Winter"
            },
            "soc-SIGParkingLot-2014-10-18-Training": {
                "display_name" : "SIG Parking Lot - Fall"
            }
        },
        "Phase-2 Testing" : {
            "soc-sig-parking-lot-2013-09-28-testing": {
                "display_name" : "SIG Parking Lot"
            },
            "soc-pratt-garden-2013-10-12-testing": {
                "display_name" : "Pratt Garden"
            }
        },
        "Phase-3 Testing" : {
            "soc-SIGParkingLot-2014-01-04-Testing": {
                "display_name" : "(1) SIG Parking Lot - Winter"
            },
            "soc-SIGParkingLot-2014-10-18-Testing": {
                "display_name" : "(2) SIG Parking Lot - Fall"
            },
            "soc-PrattGarden-2014-09-20-Testing": {
                "display_name" : "(3) Pratt Garden"
            },
            "soc-Schiciano-2014-02-22-Testing": {
                "display_name" : "(4) Schiciano Auditorium"
            },
            "soc-sig-office-2013-09-04-testing": {
                "display_name" : "(5) SIG Office"
            }
        },
        "Non-Polar Demo" : {
            "soc-PrattGarden-2014-09-20-Testing-Exercise": {
                "display_name" : "Pratt Garden - Exercise"
            },
            "soc-PrattGarden-2014-09-20-Testing-Fashion": {
                "display_name" : "Pratt Garden - Fashion Show"
            },
            "soc-PrattGarden-2014-09-20-Testing-Sport": {
                "display_name" : "Pratt Garden - Sport"
            },
            "soc-SIGParkingLot-2014-01-04-Testing-Lineup": {
                "display_name" : "Parking Lot Winter - Line Up"
            },
            "soc-sig-parking-lot-2013-09-28-testing-MC": {
                "display_name" : "Parking Lot - Moving Camera"
            },
            "soc-Schiciano-2014-02-22-Testing-Evacuation": {
                "display_name" : "Auditorium - Evacuation"
            }
        }
    }
}
